body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: orange;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header, .welcome{
    color: #f9faf8;
}

.header {
    background-color: #161d25;
    display: flex;
    padding: 1% 15%;
    align-items: center;
    justify-content: center;
    gap: 50%;
    row-gap: 10px;
    flex-wrap: wrap;
}

#title {
    font-size: 48px;
    font-weight: bolder;
}

.links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0px;
    padding: 0px;
    font-size:18px;
    font-weight: bold;
    white-space: nowrap;
}

.welcome {
    background-color: #1f2937;
    display: flex;
    padding: 2% 5%;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}

.welcome img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    border: 10px solid #161d25;
    align-self:center;
    min-width: 300px;
}

.welcome-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 6px;
}

.welcome-information h1 {
    font-size: 36px;
    margin: 0px;
    font-weight: bold;
    white-space: nowrap;
}

.welcome-information p {
    align-self: flex-start;
    flex: 1;
    text-align: center;
    padding:5%;
}

.welcome-information button {
    background-color: #3882f6;
    width: 50%;
    height: 15%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    border: 3px solid #161d25;
    color: #161d25;
}

.members {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    gap: 1vh;
    color: #1f2937;
}

.members h2 {
    font-size: 36px;
}

.container-members {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}

.container-members img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #3882f6;
}

.member {
    font-weight: bold;
    min-width: 300px;
    font-size: 30px;
}